@media screen and (min-width: 200px) and (orientation: portrait) {

  html{
  margin: 0 5px;
  }
  header{
    height: 230px;
  }
  .menu a{
    display: none;
  }
  .parceiros{
    font-size: 20px;
  }
  .menuFixo{
    margin-right: 10px;
    height: 150px;
  }
  .logotipo{
    margin-top: 20px;
    height: 100px;
    width: 220px;
    background-size: cover;
    }
  .search{
    margin-top: 20px;
    height: 70px;
    font-size: 4em;
  }
  .search input{
    width: calc(100% - 70px);
    font-size: 0.8em;
  }
  .searchScroll{
    margin-top: 50px;
    width: calc(100% - 250px);
  }
  .searchScroll input{
    font-size: 0.8em;
    width: calc(100% - 70px);
  }
  .fa-search{
    width:70px;
    height: 70px;
  }
  .maisRecentes{
    width:calc(100% - 20px);
  }
  .maisVotados, .maisRecentes{
    width: 100%;
    margin-top: 30px;
    border-top: 4px solid #B80718;
    padding-top: 10px;
  }
  .contHome{
    width: 100%
  }
  .tituloCat{
    font-size: 3.8em;
  }
  .topParceiros{
   display: none;
  }
  .descCat{
    font-size: 2.5em;
    margin: 15px 0;
  }
  .catVid{
    width: calc(50% - 13px);
    padding-right: 9px;
    border-right: 4px solid #B80718;
  }
  .redesSociais{
    display: none;
  }
  .menuSmart{
    display: none;
    background: white;
    height: 100%;
    position: fixed;
    top: 140px;
    right: 0;
    width: 85%;
    z-index:20;
  }
  .menuSmartBlur{
    background: rgba(0,0,0,0.6);
    height: 100%;
    position: fixed;
    top: 140px;
    left: 0;
    width: 15%;
    z-index:20;
  }
  .menuSmart ul li{
    display: block;
    margin-top: 40px;
    font-size: 4.5em;
  }
  .menuSmart ul li a{
    color:black;
    font-family: Nova, cursive;
    border-bottom: 4px solid #B80718;s
  }
  .catSub{
    margin-left: 50px;
  }
  .topParceirosSmart{
    font-size: 3.5em;
    font-family: Nova,cursive;
    margin-left: 40px;
    padding-top: 40px;
  }
  .parceirosSmart{
    display: block;
  }
  .imgParceiroSmart{
    height: 160px;
    width: calc(50% - 20px);
    margin-right: 10px;
    margin-top: 10px;
    background: #B80718;
    background-image: url(../medias/sejaParceiro.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
  }
  #menuClose{
    background: white;
    width: 110px;
    height: 140px;
    position:absolute;
    right: 18px;
    top: -130px;
  }
  .menuSmartTop, .menuSmartTop ul{
    display: block;
  }
  .menuSmartTop ul li{
    display: inline-block;
  }
  .menuSmartTop ul li .fa-upload{
    display: block;
    font-size: 120px;
    position: absolute;
    top: 10px;
    right: 140px;
    margin-left: 10px;
  }
  .menuSmartTop ul li .fa-ellipsis-v{
    display: block;
    font-size: 130px;
    margin-top: 10px;
    position: absolute;
    top:0px;
    right: 60px;
    margin-left: 10px;
    }
  #menuClose .fa{
    color:#B80718;
    font-size: 130px;
    margin-left: 40px;
  }
  .semMenu{
    display: none;
  }
    /*rodapé*/
  .footerRedesSociais{
    width:45%;
  }
  .footerRedesSociais ul li a{
    font-size: 6em;
  }
  footer p{
    margin-top:36px;
    font-size: 2em;
  }
  .categoriaVid{
    display: none;
  }
  .conteudoVid{
    width: calc(100% - 21px);
  }
  .onlySmart{
    display: block;
  }
  .conteudoMedia{
    width: 100%;
  }
  .contSimilar{
    width: calc(50% - 20px);
  }
  .contShare{
    height: 240px;
    padding-top: 20px;
    margin-bottom: 20px;
  }
  .twitter-share-button{
    font-size: 10em;
  }
  .twRe img{
    height: 60px;
  }
  .compInput{
    margin-top: 20px;
    height: 60px;
    font-size: 2em;
  }
  .contShare p {
    font-size: 3em;
  }
  #envieDicaForm, #entreContatoForm, #sejaParceiroForm{
    left:0px;
  }
   #entreContatoForm form, #sejaParceiroForm form{
    width: 90%;
    margin-top: 10%;
  }
  #envieDicaForm form{
    width: 90%;
    margin-top: 30%;
  }
  fieldset legend{
    font-size: 3em;
  }
  .dicaContentInput{
    font-size:2em;
    height: 70px;
  }
  .dicaContentText{
    font-size:2em;
    height: 120px;
  }
  .btn{
    font-size: 2em;
    width: 170px;
    height: 80px;
    margin-right: 20px;
  }
  .infPessoais{
    width: 100%;
    margin-bottom: 20px;
  }
  .infContato h2{
    font-size: 3em;
  }
  .infContato p{
    font-size: 2em;
  }
  .infContato a{
    font-size: 4em;
  }
  .infContatoMenu{
    width: 100%;
  }
  .infContatoMenu p{
    font-size: 3em;
    height: 80px;
    border-bottom: 4px solid #B80718;

  }
}
