@font-face {
font-family: Nova;
  src: url(../lib/fonts/NovaSquare.ttf); /*titulos*/
}
@font-face {
font-family: NovaSlim;
  src: url(../lib/fonts/NovaSlim.ttf); /*textos*/
}
/*cabeçalho inicio*/
*{
  margin: 0 auto;
  max-width: 1200px;
}
html{
  //background: black;
}
header{
  background: black;
  width: 100%;

  height: 145px;
}
.logotipo{
  width: 200px;
  height: 80px;
  background: white;
  float: left;
}
.menu{
  width: calc(100% - 450px);
  height: 80px;
  float: left;
  text-align: center;
}
.menu ul li{
  display: inline-block;
  margin-top:25px;
  margin-left: 10px;
  border-bottom: 2px solid rgb(65, 72, 87);
  transition: 0.5s;
  height: 40px;
}
.menu ul li:hover{
  background: rgb(65, 72, 87);
}
.menu a{
  font-size: 25px;
  margin: 15px;
  font-family:Nova,cursive;
}
header a{
  text-decoration: none;
  color: white;
}
.redesSociais{
  width:250px;
  height: 80px;
  float: left;
  transition: 0.5s;

}
.redesSociais a{
  font-size: 40px;
  color:white;
}
.redesSociais a:hover, .footerRedesSociais a:hover{
  color:rgb(65, 72, 87);
}
.redesSociais ul li{
  display: inline-block;
  margin-top:20px;
  width: 25%;
  float: right;
  text-align: right;
}
.search{
  margin-top:10px;
  width: 100%;
  height: 40px;
  float:left;
  font-size: 39px;
  text-align: center;

}
.search input{
  height: 100%;
  width: calc(100% - 40px);
  float: left;
  border:none;
  font-family: NovaSlim,cursive;
  font-size: 20px;
  padding-left: 15px;
}
.fa-search{
  width: 40px;
  height: 40px;
  float:right;
  background: white;
  color: black;
}
.semMenu{  /*mudança cabeçalho ao rolar*/
  display:none;
}
.searchScroll{
  margin-left: 20px;
  margin-top:40px;
  width: calc(100% - 220px);

}
.menuFixo{
  background: black;
  position: fixed;
  width: 100%;
  height: 100px;
}
/*Fim mudança cabeçalho ao rolar*/

/*cabeçalho fim
Rodapé inicio*/
footer{
  background: black;
  height: 40px;
  color:white;

}
.footerRedesSociais{
  width:200px;
  height: 40px;
  float: right;
}
.footerRedesSociais a{
  font-size: 30px;
  color:white;
}
.footerRedesSociais ul li{
  display: inline-block;
  margin-top:4px;
  width: 25%;
  float: right;
  text-align: right;
}
footer p{
  margin-top:10px;
  color:white;
  float:left;
  font-family: NovaSlim,cursive;
}
/*Rodapé fim
Body inicio*/
body{
  background: black;
}
.container{
  margin: 0 auto;
}
.maisRecentes{
  width:calc(45% - 20px);
  float: left;
  margin-right:20px;
}
.maisVotados{
  width:calc(45% - 20px);
  float: left;
  margin-right:20px;
}
.topParceiros{
  width:10%;
  float: left;
  text-align: center;
}
.tituloCat{
  color:white;
  font-size: 25px;
  font-family: Nova,cursive;
}
#destaqueTop{
  color:white;
  font-size: 55px;
  font-family: Nova,cursive;
}
/*Conteudos*/
.contNormal{
  background: white;
  width: calc(50% - 10px);
  margin-right: 10px;
  margin-top: 10px;
  height: 150px;
  float: left;
}
.contBanner{
  background: white;
  width: calc(100% - 10px);
  margin-right: 10px;
  margin-top: 10px;
  height: 150px;
  float: left;
}
.contQuadrado{
  background: white;
  width: calc(100% - 10px);
  margin-right: 10px;
  margin-top: 10px;
  height: 300px;
  float: left;
}
/*parceiros*/
.imgParceiro{
  margin-top: 10px;
  background: white;
  height: 90px;
}
