@font-face {
font-family: Nova;
  src: url(../lib/fonts/NovaSquare.ttf); /*titulos*/
}
@font-face {
font-family: NovaSlim;
  src: url(../lib/fonts/NovaSlim.ttf); /*textos*/
}
/*cabeçalho inicio*/
*{
  margin: 0 auto;
  max-width: 1200px;
}
html{
  //background: black;
}
header{
  background: black;
  width: 100%;

  height: 145px;
}
.logotipo{
  background-image: url(../medias/logotipo.png);
  background-position: left bottom;
  width: 200px;
  height: 80px;
  float: left;
}
.menu{
  width: calc(100% - 450px);
  height: 80px;
  float: left;
  text-align: center;
}
.menu ul li{
  display: inline-block;
  margin-top:25px;
  margin-left: 10px;
  border-bottom: 2px solid #B80718;
  transition: 0.5s;
  height: 40px;
}
.menu ul li:hover{
  background: #B80718;
}
.menu a{
  font-size: 25px;
  margin: 15px;
  font-family:Nova,cursive;
}
header a{
  text-decoration: none;
  color: white;
}
.redesSociais{
  width:250px;
  height: 80px;
  float: left;
  transition: 0.5s;

}
.redesSociais a{
  font-size: 40px;
  color:white;
}
.redesSociais a:hover, .footerRedesSociais a:hover{
  color:#B80718;
}
.redesSociais ul li{
  display: inline-block;
  margin-top:20px;
  width: 25%;
  float: right;
  text-align: right;
}
.search{
  margin-top:10px;
  width: 100%;
  height: 40px;
  float:left;
  font-size: 39px;
  text-align: center;

}
.search input{
  height: 100%;
  width: calc(100% - 40px);
  float: left;
  border:none;
  font-family: NovaSlim,cursive;
  font-size: 20px;
  padding-left: 15px;
}
.fa-search{
  width: 40px;
  height: 40px;
  float:right;
  background: white;
  color: black;
}
.semMenu{  /*mudança cabeçalho ao rolar*/
  display:none;
}
.searchScroll{
  margin-left: 20px;
  margin-top:40px;
  width: calc(100% - 220px);

}
.menuFixo{
  background: rgba(0,0,0,0.8);
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 12;
}
/*Fim mudança cabeçalho ao rolar*/

/*cabeçalho fim
Rodapé inicio*/
footer{
  background: black;
  height: 40px;
  color:white;
  width: 100%;
  float: left;
}
.footerRedesSociais{
  width:200px;
  height: 40px;
  float: right;
}
.footerRedesSociais a{
  font-size: 30px;
  color:white;
}
.footerRedesSociais ul li{
  display: inline-block;
  margin-top:4px;
  width: 25%;
  float: right;
  text-align: right;
}
footer p{
  margin-top:10px;
  color:white;
  float:left;
  font-family: NovaSlim,cursive;
}
/*Rodapé fim
Body inicio*/
body{
  background: black;
}
.container{
  margin: 0 auto;
}
.maisRecentes{
  width:calc(45% - 20px);
  float: left;
  margin-right:20px;
}
.maisVotados{
  width:calc(45% - 20px);
  float: left;
  margin-right:20px;
}
.topParceiros{
  width:10%;
  float: left;
  text-align: center;
}
.tituloCat{
  color:white;
  font-size: 25px;
  font-family: Nova,cursive;
}
.tituloCat a{
  text-decoration: none;
  color: white;
}
.tituloCat a:hover{
  color:#B80718;
  text-decoration:underline;
}
#destaqueTop{
  color:white;
  font-size: 55px;
  font-family: Nova,cursive;
}
/*Conteudos*/
.contNormal{
  width: calc(50% - 10px);
  margin-right: 10px;
  margin-top: 10px;
  transition: 0.8s;
  float:inherit;
}

.contBanner{
  background: white;
  width: calc(100% - 10px);
  margin-right: 10px;
  margin-top: 10px;
  height: 150px;
  float: left;
}
.contQuadrado{
  width: calc(100% - 10px);
  margin-right: 10px;
  margin-top: 10px;
  float: left;
  transition: 0.8s;
}
.contQuadrado:hover{
  background: black;
  box-shadow: 0px 0px 15px 1px rgba(255,255,255,0.8);
  transform: scaleX(1.2) scaleY(1.2);
  z-index:9;
}
/*parceiros*/
.imgParceiro{
  background: #B80718;
  background-image: url(../medias/sejaParceiro.png);
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: 10px;
  height: 90px;
}
.catVid{
  width: calc(50% - 11px);
  padding-right: 10px;
  float: left;
  border-right: 2px solid #B80718;
}
.catImg{
  width: calc(50% - 21px);
  margin-left: 20px;
  float: right;
}
.descCat{
  font-family:NovaSlim,cursive;
  font-size:20px;
  margin-top:5px;
}
.descCat a{
  text-decoration: none;
  color:white;
}
.descCat a:hover{
  text-decoration: underline;
  color:#B80718;
}
.categoriaVid{
  width: calc(20% - 11px);
  padding-right: 10px;
  float: left;
  border-right: 2px solid #B80718;
}
.conteudoVid{
  width: calc(80% - 21px);
  margin-left: 20px;
  float: right;
}
.contNormalcat{
  background: white;
  width: calc(50% - 10px);
  margin-left: 10px;
  margin-top: 10px;
  height: 300px;
  float: left;
}
.contBannercat{
  background: white;
  width: calc(100% - 10px);
  margin-left: 10px;
  margin-top: 10px;
  height: 300px;
  float: left;
}
.contQuadradocat{
  background: white;
  width: calc(100% - 10px);
  margin-left: 10px;
  margin-top: 10px;
  height: 600px;
  float: left;
}
.infPessoais{
  width: 50%;
  margin-top: 10px;
  height: 210px;
  float: left;
}
.imgContato{
  width: 200px;
  height: 200px;
  background: white;
  float: left;
  transition: 0.8s;
}
.imgContato:hover{
  transform: scaleX(1.2) scaleY(1.2);
}
.infContato{
  margin-left: 15px;
  float:left;
  color: white;
}
.infContato h2{
  font-family: Nova,cursive;
}
.infContato p{
  font-family: NovaSlim,cursive;
}
.infContato ul{
    padding: 0;
}
.infContato ul li{
  display: inline-block;
  margin-right: 10px;
}
.infContato a{
  color:white;
  font-size: 30px;
}
.infContato a:hover{
  color:#B80718;
}

#envieDicaForm{
  display: none;
  z-index: 13;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}
#envieDicaForm form {
  width: 60%;
  margin-top: 10%;
 color: white;
 font-family: NovaSlim,cursive;
 font-size: 25px;
}
fieldset {
  margin: 0 auto;
  border: 4px solid #B80718;
  border-radius: 20px;
}
.dicaContentInput{
  width: 100%;
  height: 30px;
  margin-top: 30px;
  font-family: NovaSlim,cursive;
  font-size: 25px;
}
.dicaContentText{
  width: 100%;
  height: 50px;
  margin-top: 30px;
  font-family: NovaSlim,cursive;
  font-size: 20px;
}
.btn{
  margin-top:20px;
  width: 80px;
  height: 40px;
  color: white;
  background: #B80718;
  border: 2px solid #fff;
  border-radius: 10px;
  font-family: Nova,cursive;
  font-size: 20px;
}
.btn:hover{
  background: black;
  cursor: pointer;
}
.zoomImagem{
  width: calc(100% - 10px);
  margin-right: 10px;
  margin-top: 10px;
  float:inherit;
  z-index: 10;
}

.infContatoMenu p{
  color: white;
  font-size:  25px;
  display: inline-block;
  transition: 0.5s;
  height: 40px;
  padding: 0px;
  font-family: NovaSlim,cursive;
  border-bottom: 2px solid #B80718;
  margin-top: 20px;
  margin-bottom: 20px;
}
.infContatoMenu p:hover{
  background: #B80718;
}

#sejaParceiro{
  margin-left: 20px;
}

#entreContatoForm{
  display: none;
}

#sejaParceiroForm{
  display: none;
}

#entreContatoForm{
  display: none;
  z-index: 11;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}
#entreContatoForm form {
  width: 60%;
  margin-top: 5%;
 color: white;
 font-family: NovaSlim,cursive;
 font-size: 25px;
}

#sejaParceiroForm{
  display: none;
  z-index: 11;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}
#sejaParceiroForm form {
  width: 60%;
  margin-top: 5%;
 color: white;
 font-family: NovaSlim,cursive;
 font-size: 25px;
}

.conteudoMedia{
  width: 50%;
  float: left;
}
.contSimilar{
  margin-left: 20px;
  width: 20%;
  float:right;
}
.contSimilar div{
  margin:0;
  margin-bottom: 5px;
  width: 100%;
}
.contShare{
margin-top: 10px;
background: #B80718;
height: 110px;

}
.twRe{
margin:5px;
  float: left;
}
.fb-share-button{
  margin:5px;
  float: left;
}
.compInput{
  margin-left: 5px;
  width: 80%;
  height: 30px;
  font-family: NovaSlim,cursive;
  font-size: 20px;
}
.contShare p{
  font-family: NovaSlim,cursive;
  font-size: 20px;
  color:white;
  margin-left: 5px;
  margin-top: 5px;

}
